<div class="footer">
  <nav class="mb-24">
    <div class="left">
      <ul class="menu">
        <li><a href="products.html">商品列表</a></li>
        <li><a href="brand-story.html">品牌故事</a></li>
      </ul>
    </div>
    <div class="right">
      <div class="logo mr-48">
        <h2>URBNSTEP</h2>
        <div class="dot"></div>
      </div>
    </div>
  </nav>
  <div class="copyright pt-32">
    <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</div>
