<header class="nav">
  <div class="d-flex">
    <div class="logo mr-48">
      <h2>URBNSTEP</h2>
      <div class="dot"></div>
    </div>

    <ul class="menu">
      <li><a href="products.html">商品列表</a></li>
      <li><a href="brand-story.html">品牌故事</a></li>
    </ul>
  </div>
  <div class="profile">
    <a href="#"><i class="bi bi-person"></i></a>
  </div>
</header>
